<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boris Todorov</title>
</head>
<body>
    <div class="home">
            <h1>Boris Todorov</h1>
    
    <hr></hr>
    <h2>Autobiography</h2>
    <p>He was born on the 20 <sup>th</sup> of April 2005 in Sofia.- His current interests are <b>Web apps development</b> and this website is his first
        project. The goal is to test everything he has learnt so far regarding his coding skills and his short-term plans about studying coding. He wants
        to apologise to his mentor <b>Vladimir Marinov</b> for being a little late with this project since he was struggling with school and deploying this 
        web server.
    </p>
</div>
    {% extends "layout.html" %}
    {% block content %}
    <div class="home">
    </div>
    {% endblock %}

</body>
</html>